<%- include('partials/header') %>
    <div class="ContainerGeneral">
        <div class="guarderia">
            <div class="contenerdorguard">
                <div class="titulo1">
                    <h2>Guarderia y Hotel Caninos</h2>
                </div>
                <div class="imagen">
                    <img src="/hotel1fondo.jpg" alt="">

                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>