<%- include('partials/header') %>
<div class="ContainerGeneral">
  <div class="guarderia">    
    <div class="contenedorguard">
      <div class="imagen">
        <img src="gcf.jpg" alt="" />
        <figcaption>Diversion</figcaption>
      </div>
      <div class="imagen">
        <img src="Gc.jpg" alt="" />
        <figcaption>Parque Acuatico</figcaption>
      </div>
      <div class="imagen">
        <img src="guad.jpg" alt="" />
        <figcaption>Descanso</figcaption>
      </div>
      <div class="imagen">
        <img src="apr.jpg" alt="" />
        <figcaption>Aprendizaje</figcaption>
      </div>
    </div>
  </div>
  <div class="contguard">
    <div class="titulo">
        <h2>Escuela y Hotel Caninos</h2>
    </div>
   <div  class="textguard">
    <p>
     En caninos y felinos es un espacio campestre comodo,seguro y apto 
     para la Diversion, socializacion de su mascota. cuenta con servicios 
     complementarios que hacen a tu canino feliz. 
     Dentro del dia de colegio tienen actividades como: <br><br>
     Socializacion Canina <br>
     Natacion <br>
     Juegos de Tierra <br> <br>
     <h3>Planes Mensuales</h3>
     <ul>
        Asistiendo un solo dia por semana el valor del mes seria: 120.000 <br>
        Asistiendo 2 dias por semana el valor del mes seria: 215.000 <br>
        Asistiendo 3 dias por semana el valor del mes seria: 300.000
     </ul>
    </p>
   </div>
 </div>
</div>
     <%- include('partials/footer') %>
