<%- include('partials/header') %>
    <div class="ContainerGeneral">
        <div class="subcontinerIzq">
            <div class="baner2">
                Cuidados y educacion para su perro <br>
                <div class="textocep">
                    <p>Contamos con el personal adecuado para el cuidado de las mascotas, medicina preventiva, la cual
                        engloba a la vacunación, el control de parásitos, la nutrición, higiene y visitas rutinarias,
                        tanto en cachorros como en adultos.</p>
                </div>
                <div class="imagen">
                    <img src="/Golden.jpg" alt="">

                </div>
            </div>

            <div class="baner2">
                Salir de viaje con tu mascota <br>
                <div class="textocep">
                    <P> Guardería canina urbana 100% libre de jaulas, con juegos dirigidos, paseos al parque y cuidado
                        de
                        expertos.</P>
                </div>
                <div class="imagen">
                    <img src="/french poodle.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="subcontinerDer">
            <div class="tabla">
                Solicitar Citas Medicas<br>
                <div class="textoinfo">

                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>