<%- include('partials/header') %>

    <div class="ContainerGeneral">
        <div class="Containerpro">
            <div class="bannerpro">
                <div class="bannertitulo">
                    <h1>Nuestros Productos</h1>
                </div>
                <div class="banner1">
                    <img src="/cart.png" alt="">
                </div>
            </div>
            <div class="subcontenedorprod">
                <div class="imagen">
                    <img src="/comida.jpg" alt="">
                    <figcaption>Alimento Completo
                        <P>Variedad de alimentos para todo tipo de mascotas entre otros perros, gatos, conejos,
                            cobayos etc.</P>
                    </figcaption>
                </div>
                <div class="imagen">
                    <img src="/cargador.jpg" alt="">
                    <figcaption>Cargador para Mascotas
                        <p>Diseños practicos, novedosos y seguros para transportar tu mascota</p>
                    </figcaption>
                </div>
                <div class="imagen">
                    <img src="/cuidado.jpg" alt="">
                    <figcaption>Linea de cuidado
                        <P>SKINDERM solución tópica,
                            indicada en perros y gatos para el tratamiento de afecciones
                            en la piel causadas por bacterias y hongos.</P>
                    </figcaption>
                </div>
                <div class="imagen">
                    <img src="/antiparacitario1.jpg" alt="">
                    <figcaption>linea desparacitante
                        <p>Total F®LC antiparasitario para perros interno de amplio espectro
                            que está formulado para el control y tratamiento de cestodes,
                            nematodes y giardias que pueden afectar a nuestros mascotas.</p>
                    </figcaption>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>