<%- include('partials/header') %>
<div class="ContainerGeneral">
   <div class="containerpromo">
    <div class="bannerpromo">
        <div class="bannertitulo2">
            <h1>...Jueves 15% de descuento...</h1>
        </div>
        <div class="banner2">
            <img src="promo.jpeg" alt="">
        </div>
    </div>
        <div class="subcontpromo">
         <div class="imagen">
          <img src="dog chow.jpg" alt="">
                <figcaption>
                    Alimento humedo para perros Dog Chow X800 gr <br>$50.000
                </figcaption>
         </div>
         <div class="imagen">
            <img src="donkat.jpeg" alt="">
            <figcaption>
                Don kat alimento para gatos X 7kg <br>$84.000
            </figcaption>
         </div>
         <div class="imagen">
            <img src="ultima gato.png" alt="">
            <figcaption>
                ultima afinity bolsa X 3 kg $68.000
            </figcaption>
         </div>
         <div class="imagen">
            <img src="pedigree.webp" alt="">
            <figcaption>
                pedigree comida humeda para perros <br>sabor a pollo X 800gr $30.000
            </figcaption>
         </div>
         </div>
    </div>
   </div>
</div>
<%- include('partials/footer') %>