<%- include('partials/header') %>
    <div class="ContainerGeneral">
        <div class="subContainer">
            <div class="contenedor">
                <div class="imagen">
                    <img src="/vacuna.jpg" alt="">
                    <figcaption>Clinica Veterinaria
                    </figcaption>
                </div>
                <div class="imagen">
                    <img src="/baño1.jpg" alt="">
                    <figcaption>Aseo de Mascotas
                    </figcaption>
                </div>
                <div class="imagen">
                    <img src="/guarderia.jpg" alt="">
                    <figcaption> Guarderia de Mascotas
                    </figcaption>
                </div>
                <div class="imagen">
                    <img src="/colegio.jpg" alt="">
                    <figcaption>Colegio de Mascotas
                    </figcaption>
                </div>
                <div class="imagen">
                    <img src="/hospedaje.png" alt="">
                    <figcaption>Hospedaje de Mascotas
                    </figcaption>
                </div>
            </div>
            <div class="contenedorDer">
                <div class="titulo">
                    <h2>Nuestros Servicios</h2>
                </div>
                <div class="textoserv">
                    <p><strong>Somos</strong> una <strong>empresa,</strong> orientada a brindarles el servicio veterinario y valores agregados
                        que sus mascotas necesitan.
                        Entendemos el valor tan importante que representa esos pequeños miembros de la familia.</p>
                </div>
            </div>
        </div>
    </div>



    <%- include('partials/footer') %>