<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/servicios.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/productos.css'>
    <link rel="stylesheet" type='text/css' media='screen' href="/guarderia.css" />
    <link rel="stylesheet" type='text/css' media='screen' href="/promociones.css" />
</head>

<body>

<header>
    <div class="banner">
        <br>
        Caninos y Felinos
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/servicios">Servicios</a>
            </li>
            <li>
                <a href="/productos">Productos</a>
            </li>
            <li>
                <a href="/guarderia">Guarderia</a>
            </li>
            <li>
                <a href="/promociones">Promociones</a>
            </li>
        </ul>        
    </nav>
</header>